.mat-nav-list {
    padding: 50px 10px 0;
}

a {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.active,
a:hover {
    background: #99bb15 !important;
    color: #fff !important;
    border-radius: 10px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
::ng-deep snack-bar-container.updater-message{
    opacity: 0.9 !important;
    font-size: small !important;
    color: white !important;
    padding: 6px 10px !important;
    background-color: darkgray;
}