<div class="addBookBtn">
    <button mat-raised-button color="primary" class="btn" (click)="displayDownloadTokenDialog()">
        <mat-icon>add_circle</mat-icon> ADD NEW BOOK
    </button>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <mat-card *ngFor="let book of mybooks; index as idx">
                <div class="row">
                    <div class="thumb">
                        <img [src]="getImageUrl(book)" [alt]="book.title">

                    </div>
                    <div class="details">
                        <h2>Berry Garden {{ book.schoolClass }} - {{ book.title }}</h2>
                        <p>Harbour Press International</p>
                        <p>Date added: {{ book.dateAdded | date }}</p>
                        <div class="downloading" *ngIf="book.downloadInProgress">
                            <span>Downloading file, please wait...</span>
                            <span class="greenColor">{{book.downloadProgress}}% done...</span>
                        </div>
                        <mat-progress-bar *ngIf="book.downloadInProgress" mode="determinate" [value]="book.downloadProgress" color="warn">
                        </mat-progress-bar>
                        <div class="footerBtns">
                            <span class="spacer"></span>
                            <button class="greenBtn" mat-raised-button title="Play Book" (click)="playBookContent(book, idx)" *ngIf="book.contentLocalUrl">
                                <mat-icon>play_circle_outline</mat-icon> Play
                            </button>
                            <button class="blueBtn" mat-raised-button title="Download Book" (click)="downloadBookContent(book)" *ngIf="!book.contentLocalUrl" [disabled]="book.downloadInProgress">
                                <mat-icon>cloud_download</mat-icon> Download
                            </button>
                            <button mat-raised-button color="warn" title="Delete Book" [disabled]="book.downloadInProgress" (click)="confirmAndDeleteBookContent(book, idx)">
                                <mat-icon>delete</mat-icon> Delete
                            </button>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<div class="noDisc" *ngIf="noBooksMessage">
    <p [innerHtml]="noBooksMessage"></p>
</div>