.noDisc {
    padding: 30px 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: #a2a2a2;
    font-weight: 100;
}

.mat-card {
    margin-bottom: 15px !important;
    text-align: left;
    overflow: hidden;
    padding-bottom: 5px;
    height: 220px;
    .thumb {
        overflow: hidden;
        height: 220px;
        margin: -16px -16px -16px;
        float: left;
        width: 15%;
        margin-right: 2%;
        img {
            height: 100%;
            width: 100%;
        }
    }
    .details {
        float: left;
        width: 83%;
        position: relative;
        h2 {
            font-size: 18px;
            margin: 0 0 3px;
            font-weight: 400;
        }
        p {
            font-size: 15px;
            color: #9b9b9b;
            margin-bottom: 3px !important;
        }
        span {
            color: #9b9b9b;
            font-size: 14px;
            font-weight: 600;
        }
        .downloading {
            span {
                display: block;
                font-size: 13px;
                color: rgba(211, 77, 74, 0.52);
            }
            .greenColor {
                color: #d34d4a;
            }
        }
    }
}

.displayNone {
    display: none;
}

.footerBtns {
    display: flex;
    padding: 15px 0 0;
    border-top: 1px solid #e4e4e4;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    .spacer {
        flex: 1 1 auto;
    }
    .greenBtn {
        background: #07b72f;
        color: #fff;
        margin: 0 10px;
    }
    .blueBtn {
        background: #70d1f1;
        color: #fff;
        margin: 0 10px;
    }
}

mat-progress-bar {
    margin: 15px 0 5px;
}

.addBookBtn {
    position: fixed;
    background: #f9f9f9;
    width: 92%;
    padding: 30px 0;
    margin: -30px -10px 0;
    z-index: 1;
    text-align: center;
    box-shadow: inset 0 9px 12px 0 #efefef;
    button {
        padding: 7px 50px;
    }
}

.container-fluid {
    margin-top: 90px;
}